
.login-icon{
    font-size: 1.5rem;
}
.contact-icon{
    font-size: 1.5rem;
    color: green;
    justify-content: space-between;
}
.social-icon{
    font-size: 1.5rem;
    color: blue;
}
.img{
    height: 80px;
    font-weight: bold;
}
body{
    margin: 0;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 100px;
    border:1px solid black;
    
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #88c7aa}